{
    "bootstrap": false,
    "server": true,
    "datacenter": "{{ docker_consul_dc }}",
    "client_addr": "0.0.0.0",
    "data_dir": "/data",
    "verify_incoming": false,
    "verify_outgoing": false,
    "log_level": "INFO",
    "enable_syslog": false,
    "start_join_wan": [
        {% for item in docker_consul_start_join_wan %}
            "{{ item }}"{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}